.app-header {
    border-bottom: 1px solid #eaeaea;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-header-logo{
    height: 70px;
  }
  